<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Para Você Minha Princesa</title>
    <link rel="shortcut icon" href="../public/Assets/img amoro.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./../public/css/Styles.css">
</head>

<body>

    <main>

        <div class="boxLogin">
            <h1>Faça o login para ganhar um presente feito de coração!</h1>

            <div class="loginUser">

                <input type="text" class="loginJS" placeholder="User Name" name="" id="user">
            </div>

            <div class="loginPassword">
                
                <input type="password" placeholder="Password" name="" class="passwordJS" id="password">
            </div>

            <div class="buttonLogin1">
                <button class="botao" onclick="Login()" id="botaoLogin">Login</button>
            </div>
            
                <div id="res"></div>
        
            <div class="buttonConta">
                <button class="botao" id="botaoNaoTem" >Não Tem Conta?</button>
            </div>
        </div>


    </main>

    <script src="../public/js/Script.js"></script>
</body>

</html>